<div class="container marketing card">
    <div class="row text-center">
    <div class="col-lg-12">
        <br>
        <h1 style="color: black;">Galeria</h1>
        <br>
    </div><!-- /.col-lg-12 -->
     </div> <!--/.row -->
    <div class="row featurette text-center fadeIn">
        <div class="col-lg-12 text-center">
        <gallery (itemClick)="verImagen($event)" [gestures]="true" thumbPosition="left" loadingMode="indeterminate"  [autoPlay]="true" [loop]="true" [items]="galeriaImagenes"></gallery> 
        </div>
    </div>
</div>